body {
    margin: 0;
    background-color: #4FC1E9;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{ 
    display: flex;
    flex-direction: column;
    justify-content: center;;
    background-color: grey;
    border-radius: 16px;
    margin: 128px auto;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 54px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.screen{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    justify-content: space-between;
    align-items: end;
    background-color: darkgray;
    border-radius: 16px;
    min-height: 100px;
    width: 268px;
    margin-bottom: 16px;
    box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 16px;
}

#upperTXT{
    font-size: 20px;
}
#lowerTXT{
    font-size: 30px;
    text-align: end;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    height: 300px;
    width: 300px;
    grid-gap: 4px;
}

button {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background-color: rgb(192, 192, 192);
    font-size: 1em;
    font-weight: 600;
    border-left:1px solid white;
    border-top:1px solid white;

}

#btnEQL {
    grid-column: 3 / span 2;
}

.footer{
    background-color: white;
    color: black;
}